.mytop {
	margin-top:43px;
}
.box-title-one {
	color:#000000;
	font-size:25px;
	padding:0px 15px;
	margin-top:20px;
}
.box-title-line {
	margin-top:10px;
	border-bottom:3px solid #3c8dbc;
}
.panel-body-tb {
	margin:10px 0px;
}